body{
    font-family: sans-serif;
    background-image: url("picture/bg.jpg");
    height: 100%; 
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
}

.button{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #6b81a9;
    padding: 5px 8px;
    border-radius: 5px;
}

a.button:hover{
    background-color: #325d8d;
}

a.button-wid{
    width: 72px;
    display: inline-block;
}
.center{
    text-align: center;
}

.box{
    padding: 5px 8px 8px;
}

.head-color{
    color: #9200e8;
    font-size: 50px;
}
.text-wid{
    width: 200px;
    display: inline-block;
}

.f-color{
    font-size: 20px;
    color: black;
}

.t-color{
    background-color: #ffffef
}

table, th, td {
    border: 1px solid black;
}

.backplateindex{
    background-color: rgba(249, 243, 213, 0.8);
    margin: auto;
    width: 50%;
    height: auto;
    padding: 8px;
    border-radius: 5px;
}

.backplate{
    background-color: rgba(249, 243, 213, 0.8);
    margin:auto;
    width: 30%;
    height: auto;
    padding: 8px;
    border-radius: 5px;
}


.full-backplatereview{
    background-color: rgba(128, 128, 128, 0.8);
    margin: auto;
    width: 80%;
    height: auto;
    padding: 8px;
    border-radius: 5px;

}
.full-backplate{
    background-color: rgba(249, 243, 213, 0.8);
    margin: auto;
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 5px;

}

